.stencil-container {
   border-top: 1px solid #4f4f4f;
   border-right: 1px solid lightgray;
   background-color: hsla(220,11%,97%,.95);
   color: #bcbcbc;
}
.stencil-container > label {
   display: block;
   text-align: center;
   background-color: #333;   
   font-size: 10px;
   line-height: 20px;
   height: 20px;
   text-shadow: 0 -1px 0 #000;
}
.stencil-container > .btn-expand,
.stencil-container > .btn-collapse {
   position: absolute;
   top: 2px;
   left: 2px;
   background: none;
   border: none;
   outline: none;
   color: #bcbcbc;
   cursor: pointer;
   width: 20px;
   height: 16px;
   line-height: 16px;
   margin: 0;
   padding: 0;
   border: 1px solid #4f4f4f;
}
.stencil-container > .btn-collapse {
   left: 25px;
}

.stencil {
   top: 20px;
   background: #333;
}

.stencil > .content {
   background: hsla(220,11%,97%,.95);
}

.stencil .search {
   background: transparent;
}

.stencil .search:focus {
    outline: none;
}

.stencil.searchable > .content {
   top: 30px;
}

.stencil .group {
   max-height: 700px;
}

.stencil .group .elements {
   margin-left: -10px;
   background: transparent;
}

/* Hide some nodes of elements in stencil. */
.stencil .elements .element.basic.Image text,
.stencil .elements .element.devs.Atomic .inPorts text,
.stencil .elements .element.devs.Atomic .outPorts text,
.stencil .elements .element.pn.Transition text {
   display: none;
}

/* filter */
.stencil .element.unmatched {
    display: none;
}
.stencil .group.unmatched {
    display: none;
}
